@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html{
	background: rgb(240,240,240);
}
li{
    list-style: none;
}
.main{
    width: 1200px;
    margin: 0 auto;
}
.notice_board{
    width: 1200px;
    height: 520px;
    margin: 50px auto;
    border-radius: 20px;
    border: 2px solid black;
    background: #CDF5FD;
    position: relative;
}
.notice_search{
	width: 189px;
	height: 40px;
	position: absolute;
	bottom: 10px;
	left: 20px;
	display: flex;
}
.notice_search_name{
	height: 36px;
	width: 120px;
	margin-right: 5px;
	text-align: center;
}
.notice_search_button{
	width: 60px;
	height: 40px;
	float: right;
	font-size: 18px;
	font-weight: bold;
}
.notice_title{
    width: 420px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 25px auto 0 auto;
}
.notice_insert{
	width: 150px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	bottom:10px;
	right: 10px;
}


.notice{
	align-items: center;
	width: 1180px;
	height: 470px;
	margin: 20px 20px 10px 20px;
	border-collapse: separate;
	border-spacing: 10px;
	position: relative;
	overflow: auto;
}
.notice_list{
	width: 1160px;
	height: 39px;
	line-height: 20px;
	font-size: 18px;
	margin:15px 0;
	float: left;
	border-bottom: 1px dashed gray;
	cursor: pointer;
}
.notice_slash{
	margin: 0 auto;
	color: gray;
	width: 10px;
	text-align: center;
}
.notice_list:hover{
	font-weight: bold;
}
.notice_list > span{
	float: left;
	line-height: 40px;
}
.notice_no{
	width: 100px;
	height: 40px;
	padding: 0 5px;
	text-align: center;
	font-size: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 100px;
}
.notice_writer{
	width: 120px;
	height: 40px;
	padding: 0 5px;
	text-align: center;
	font-size: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 120px;
	overflow: hidden;
}
.notice_name{
	padding: 0 10px;
	font-size: 18px;
	width: 760px;
	height: 40px;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 760px;
	overflow: hidden;
}
.notice_time{
	width: 100px;
	height: 40px;
	padding: 0 5px;
	text-align: center;
	overflow: hidden;
	font-size: 18px;
}

.notice_page{
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 10px;
	margin: 0 auto;
}
.page_button{
	width: 30px;
	height: 30px;
}
.page_BN{
	width: 50px;
	height: 30px;
}

